### Build Output ###
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### Maven ###
HELP.md
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS Files ###
.DS_Store
Thumbs.db

### Logs ###
*.log
logs/

### Environment / Secrets ###
application-local.yml
application-secret.yml
.env
